---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [1]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [14]:
def date_sorter():
    import re
    import datetime, time
    i = 0
    ls = []
    months = {'Jan':'1','Feb':'2','Mar':'3',
             'Apr':'4','May':'5','Jun':'6',
             'Jul':'7','Aug':'8','Sep':'9',
             'Oct':'10','Nov':'11','Dec':'12'
    }
    for t in df:
        k=-1
        found = []
        if len(found) == 0:
            k=0
            found = re.findall(r'\d{1,2}[/-]\d{1,2}[/-]\d{2,4}', t)
            if len(found) != 0:
                s = list(found[0])
                if (s[-4] == '1' and s[-3] == '9') or (s[-4] == '2' and s[-3] == '0'):
                    s = ''.join(s)
                else:
                    s.insert(-2, '9')
                    s.insert(-3, '1')            
                    s = ''.join(s)
        if len(found) == 0:
            k=2
            found = re.findall(r'(?:\d{1,2} )(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z.,]* \d{4}',t)
            if len(found) != 0:
                s = list(found[0])
                check = ''.join(s[:2])            
                try:
                    a = int(check)                
                    day = ''.join(s[:2])            
                    mon = ''.join(s[3:6])
                    mon = months[mon]
                    year = ''.join(s[-4:])
                    s = mon + '/' + day + '/' + year
                except ValueError:
                    s= found[0].split(',')
                    s= ''.join(s)
                    s= s.split(' ')
                    s= ''.join(s)
                    s= s.split('.')
                    s= ''.join(s)
                    day = ''.join(s[-6:-4])
                    mon = ''.join(s[:3])
                    mon = months[mon]
                    year = ''.join(s[-4:])
                    s = mon + '/' + day + '/' + year

        if len(found) == 0:
            k=5
            found = re.findall(r'(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z.,]* (?:\d{1,2}[,]? )\d{4}',t)
            if len(found) != 0:
                s = list(found[0])
                check = ''.join(s[:2])            
                try:
                    a = int(check)                
                    day = ''.join(s[:2])            
                    mon = ''.join(s[3:6])
                    mon = months[mon]
                    year = ''.join(s[-4:])
                    s = mon + '/' + day + '/' + year
                except ValueError:
                    s= found[0].split(',')
                    s= ''.join(s)
                    s= s.split(' ')
                    s= ''.join(s)
                    s= s.split('.')
                    s= ''.join(s)
                    day = ''.join(s[-6:-4])
                    mon = ''.join(s[:3])
                    mon = months[mon]
                    year = ''.join(s[-4:])
                    s = mon + '/' + day + '/' + year
        if len(found) == 0:
            k=1
            found = re.findall(r'(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z.,]* \d{4}',t)
            if len(found) != 0:
                s = list(found[0])
                day = '1'
                mon = ''.join(s[:3])
                mon = months[mon]
                year = ''.join(s[-4:])
                s = mon + '/' + day + '/' + year
        if len(found) == 0:
            k=3
            found = re.findall(r'\d{1,2}/\d{4}', t)
            if len(found) != 0:
                s = '1/'+found[0]

        if len(found) == 0:
            k=4
            found = re.findall(r'\d{4}', t)
            if len(found) != 0:
                s = '1/1/'+found[0]

        try:
            date = datetime.datetime.strptime(s, '%m/%d/%Y')
            date = time.mktime(date.timetuple())
        except:
            date = datetime.datetime.strptime(s, '%m-%d-%Y')
            date = time.mktime(date.timetuple())
        ls.append((i,date))
        i=i+1
#         print(i,k,s)

    ls = sorted(ls, key=lambda x: x[1])
    lsr = pd.DataFrame(ls)
    return lsr
date_sorter()

       0             1
0      9  4.006980e+07
1     84  4.335300e+07
2      2  4.775940e+07
3     53  4.801860e+07
4     28  5.346180e+07
5    474  6.305220e+07
6    153  6.408900e+07
7     13  6.521220e+07
8    129  7.393860e+07
9     98  7.454340e+07
10   111  7.696260e+07
11   225  7.739460e+07
12    31  8.041860e+07
13   171  8.698500e+07
14   191  9.190980e+07
15   486  9.467460e+07
16   415  9.476100e+07
17   405  9.484740e+07
18   422  9.493380e+07
19   375  9.510660e+07
20   380  9.519300e+07
21   345  9.545220e+07
22   335  9.735300e+07
23    36  9.847620e+07
24   323  9.977220e+07
25    57  1.235322e+08
26   481  1.262106e+08
27   436  1.262970e+08
28   402  1.264698e+08
29   351  1.268154e+08
..   ...           ...
470   34  1.336761e+09
471  220  1.340563e+09
472  208  1.346438e+09
473  243  1.346438e+09
474  139  1.350758e+09
475  320  1.351708e+09
476  244  1.356979e+09
477  286  1.356979e+09
478  480  1.356979e+09
479  431  1.357238e+09
480  279  1.377974e+09
481  198  1.381430e+09
482  381  1.388515e+09
483  463  1.388515e+09
484  366  1.389033e+09
485  439  1.389292e+09
486  401  1.389465e+09
487  255  1.412102e+09
488  475  1.420051e+09
489  257  1.441046e+09
490  152  1.443379e+09
491  235  1.443638e+09
492  464  1.451587e+09
493  427  1.451932e+09
494  413  1.452451e+09
495  253  1.454265e+09
496  231  1.462041e+09
497  141  1.464547e+09
498  186  1.476297e+09
499  161  1.476815e+09

[500 rows x 2 columns]

In [13]:
# import re
# import datetime, time
# i = 0
# ls = []
# months = {'Jan':'1','Feb':'2','Mar':'3',
#          'Apr':'4','May':'5','Jun':'6',
#          'Jul':'7','Aug':'8','Sep':'9',
#          'Oct':'10','Nov':'11','Dec':'12'
# }
# for t in df:
#     k=-1
#     found = []
#     if len(found) == 0:
#         k=0
#         found = re.findall(r'\d{1,2}[/-]\d{1,2}[/-]\d{2,4}', t)
#         if len(found) != 0:
#             s = list(found[0])
#             if (s[-4] == '1' and s[-3] == '9') or (s[-4] == '2' and s[-3] == '0'):
#                 s = ''.join(s)
#             else:
#                 s.insert(-2, '9')
#                 s.insert(-3, '1')            
#                 s = ''.join(s)
#     if len(found) == 0:
#         k=2
#         found = re.findall(r'(?:\d{1,2} )(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z.,]* \d{4}',t)
#         if len(found) != 0:
#             s = list(found[0])
#             check = ''.join(s[:2])            
#             try:
#                 a = int(check)                
#                 day = ''.join(s[:2])            
#                 mon = ''.join(s[3:6])
#                 mon = months[mon]
#                 year = ''.join(s[-4:])
#                 s = mon + '/' + day + '/' + year
#             except ValueError:
#                 s= found[0].split(',')
#                 s= ''.join(s)
#                 s= s.split(' ')
#                 s= ''.join(s)
#                 s= s.split('.')
#                 s= ''.join(s)
#                 day = ''.join(s[-6:-4])
#                 mon = ''.join(s[:3])
#                 mon = months[mon]
#                 year = ''.join(s[-4:])
#                 s = mon + '/' + day + '/' + year

#     if len(found) == 0:
#         k=5
#         found = re.findall(r'(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z.,]* (?:\d{1,2}[,]? )\d{4}',t)
#         if len(found) != 0:
#             s = list(found[0])
#             check = ''.join(s[:2])            
#             try:
#                 a = int(check)                
#                 day = ''.join(s[:2])            
#                 mon = ''.join(s[3:6])
#                 mon = months[mon]
#                 year = ''.join(s[-4:])
#                 s = mon + '/' + day + '/' + year
#             except ValueError:
#                 s= found[0].split(',')
#                 s= ''.join(s)
#                 s= s.split(' ')
#                 s= ''.join(s)
#                 s= s.split('.')
#                 s= ''.join(s)
#                 day = ''.join(s[-6:-4])
#                 mon = ''.join(s[:3])
#                 mon = months[mon]
#                 year = ''.join(s[-4:])
#                 s = mon + '/' + day + '/' + year
#     if len(found) == 0:
#         k=1
#         found = re.findall(r'(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z.,]* \d{4}',t)
#         if len(found) != 0:
#             s = list(found[0])
#             day = '1'
#             mon = ''.join(s[:3])
#             mon = months[mon]
#             year = ''.join(s[-4:])
#             s = mon + '/' + day + '/' + year
#     if len(found) == 0:
#         k=3
#         found = re.findall(r'\d{1,2}/\d{4}', t)
#         if len(found) != 0:
#             s = '1/'+found[0]

#     if len(found) == 0:
#         k=4
#         found = re.findall(r'\d{4}', t)
#         if len(found) != 0:
#             s = '1/1/'+found[0]

#     try:
#         date = datetime.datetime.strptime(s, '%m/%d/%Y')
#         date = time.mktime(date.timetuple())
#     except:
#         date = datetime.datetime.strptime(s, '%m-%d-%Y')
#         date = time.mktime(date.timetuple())
#     ls.append((i,date,s))
#     i=i+1
#     print(i,k,s)

# ls = sorted(ls, key=lambda x: x[1])
# lsr = pd.DataFrame(ls)
# #     lsr.to_csv('dates.csv')

1 0 03/25/1993
2 0 6/18/1985
3 0 7/8/1971
4 0 9/27/1975
5 0 2/6/1996
6 0 7/06/1979
7 0 5/18/1978
8 0 10/24/1989
9 0 3/7/1986
10 0 4/10/1971
11 0 5/11/1985
12 0 4/09/1975
13 0 8/01/1998
14 0 1/26/1972
15 0 5/24/1990
16 0 1/25/2011
17 0 4/12/1982
18 0 10/13/1976
19 0 4/24/1998
20 0 5/21/1977
21 0 7/21/1998
22 0 10/21/1979
23 0 3/03/1990
24 0 2/11/1976
25 0 07/25/1984
26 0 4-13-1982
27 0 9/22/1989
28 0 9/02/1976
29 0 9/12/1971
30 0 10/24/1986
31 0 03/31/1985
32 0 7/20/1972
33 0 4/12/1987
34 0 06/20/1991
35 0 5/12/2012
36 0 3/15/1983
37 0 2/14/1973
38 0 5/24/1988
39 0 7/27/1986
40 0 1-14-1981
41 0 7-29-1975
42 0 6/24/1987
43 0 8/14/1994
44 0 4/13/2002
45 0 8/16/1982
46 0 2/15/1998
47 0 7/15/1991
48 0 06/12/1994
49 0 9/17/1984
50 0 2/28/1975
51 0 11/22/1975
52 0 5/24/1991
53 0 6/13/1992
54 0 7/11/1971
55 0 12/26/1986
56 0 10/11/1987
57 0 3/14/1995
58 0 12/01/1973
59 0 12/5/2010
60 0 08/20/1982
61 0 7/24/1995
62 0 8/06/1983
63 0 02/22/1992
64 0 6/28/1987
65 0 07/29/1994
66 0 08/11/1978
67 0 10/29/1991
68 0 7/6/1991
69 0 1/21/1987
70 0 11/3/1985
71 0 7/04/1982
72 0 4-13-1989
73 0 7/11/1977
74 0 4/12/1974
75 0 09/19/1981
76 0 9/6/1979
77 0 12/5/1987
78 0 01/05/1999
79 0 4/22/1980
80 0 10/04/1998
81 0 6/29/1981
82 0 8/04/1978
83 0 7/07/1974
84 0 09/14/2000
85 0 5/18/1971
86 0 8/09/1981
87 0 6/05/1993
88 0 8/9/1997
89 0 12/8/1982
90 0 8/26/1989
91 0 10/13/1995
92 0 4/19/1991
93 0 04/08/2004
94 0 9/20/1976
95 0 12/08/1990
96 0 4/11/1974
97 0 7/18/1986
98 0 3/31/1991
99 0 5/13/1972
100 0 11/14/1983
101 0 8/16/1992
102 0 10/05/1997
103 0 07/18/2002
104 0 9/22/1982
105 0 2/24/1974
106 0 2/03/1978
107 0 2/11/2006
108 0 8/22/1983
109 0 5/04/1974
110 0 7/20/2011
111 0 6/17/1995
112 0 6/10/1972
113 0 10/16/1982
114 0 12/15/1992
115 0 12/8/1997
116 0 4/05/1989
117 0 12/04/1987
118 0 6/20/1977
119 0 4/27/2006
120 0 07/17/1992
121 0 12/22/1998
122 0 10/02/1996
123 0 11/05/1990
124 0 5/04/1977
125 0 2/27/1996
126 2 1/24/2001
127 2 9/10/2004
128 2 5/26/1982
129 2 6/28/2002
130 2 5/06/1972
131 2 10/25/1987
132 2 10/14/1996
133 2 11/30/2007
134 2 6/28/1994
135 2 1/14/1981
136 2 10/10/1985
137 2 2/11/1985
138 2 2/10/1983
139 2 2/05/1992
140 2 10/21/2012
141 2 2/14/1995
142 2 5/30/2016
143 2 1/22/1996
144 2 10/14/1992
145 2 10/06/2003
146 2 10/18/1999
147 2 11/11/2004
148 2 5/30/2001
149 2 2/02/1978
150 2 9/09/1989
151 2 3/12/1980
152 2 6/22/1990
153 2 9/28/2015
154 2 1/13/1972
155 2 3/06/1974
156 2 10/10/1974
157 2 5/26/1974
158 2 2/10/1990
159 2 8/23/2000
160 2 5/26/2001
161 2 10/21/2007
162 2 10/19/2016
163 2 3/05/1974
164 2 1/29/1994
165 2 10/21/1978
166 2 8/18/1975
167 2 11/11/1996
168 2 10/01/1979
169 2 10/13/1986
170 2 10/21/1995
171 2 1/24/2011
172 2 10/04/1972
173 2 8/23/1993
174 2 10/18/2006
175 2 12/04/1988
176 2 10/21/1983
177 2 5/26/2010
178 2 1/18/1990
179 2 6/15/1985
180 2 12/10/1982
181 2 12/09/1988
182 2 8/18/1995
183 2 6/13/1974
184 2 5/26/2008
185 2 11/11/2002
186 2 8/17/1985
187 2 10/13/2016
188 2 1/14/2008
189 2 3/12/2004
190 2 10/21/1977
191 2 8/10/2000
192 2 11/30/1972
193 2 5/06/1993
194 2 1/18/1995
195 5 4/11/1990
196 5 5/30/2001
197 5 2/18/1994
198 5 2/18/1981
199 5 10/11/2013
200 5 1/24/1986
201 5 7/26/1978
202 5 12/23/1999
203 5 5/15/1989
204 5 9/06/1995
205 5 3/10/1976
206 5 1/27/1983
207 5 10/23/1990
208 5 8/12/2004
209 5 9/01/2012
210 5 7/25/1983
211 5 8/11/1989
212 5 4/17/1992
213 5 7/24/1999
214 5 7/11/1997
215 5 9/10/1974
216 5 8/14/1981
217 5 11/11/1988
218 5 6/13/2011
219 5 5/14/1989
220 5 12/14/1975
221 5 6/25/2012
222 5 10/18/1980
223 5 5/15/1998
224 5 10/14/1974
225 5 7/25/1998
226 5 6/15/1972
227 5 1/07/1991
228 5 9/15/2011
229 1 9/1/1985
230 1 6/1/2011
231 1 5/1/1986
232 1 5/1/2016
233 1 7/1/1977
234 1 7/1/1990
235 1 7/1/2003
236 1 10/1/2015
237 1 5/1/1995
238 1 2/1/1976
239 1 1/1/1995
240 1 2/1/1978
241 1 5/1/2011
242 1 5/1/2004
243 1 11/1/2010
244 1 9/1/2012
245 1 1/1/2013
246 1 11/1/1990
247 1 7/1/1981
248 1 5/1/1983
249 1 7/1/1995
250 1 4/1/1993
251 1 5/1/2005
252 1 12/1/1998
253 1 1/1/2007
254 1 2/1/2016
255 1 8/1/1979
256 1 10/1/2014
257 1 8/1/1988
258 1 9/1/2015
259 1 4/1/1976
260 1 11/1/1979
261 1 2/1/2000
262 1 10/1/1986
263 1 6/1/2002
264 1 9/1/1981
265 1 6/1/2007
266 1 4/1/1989
267 1 9/1/1999
268 1 10/1/1980
269 1 12/1/2009
270 1 7/1/1992
271 1 5/1/2006
272 1 8/1/2008
273 1 2/1/1993
274 1 2/1/2010
275 1 4/1/1985
276 1 9/1/1984
277 1 4/1/1986
278 1 4/1/2007
279 1 9/1/1974
280 1 9/1/2013
281 1 7/1/1985
282 1 8/1/2004
283 1 5/1/2012
284 1 2/1/1977
285 1 1/1/1987
286 1 9/1/1983
287 1 1/1/2013
288 1 3/1/2010
289 1 8/1/2009
290 1 9/1/2007
291 1 12/1/2011
292 1 1/1/2004
293 1 11/1/1995
294 1 9/1/2008
295 1 2/1/1983
296 1 3/1/1983
297 1 8/1/1979
298 1 1/1/2009
299 1 1/1/1993
300 1 3/1/1974
301 1 1/1/1994
302 1 12/1/1992
303 1 11/1/2004
304 1 1/1/1977
305 1 3/1/2002
306 1 2/1/2000
307 1 5/1/2004
308 1 7/1/2006
309 1 2/1/1994
310 1 4/1/1977
311 1 10/1/1992
312 1 2/1/1995
313 1 2/1/1989
314 1 12/1/1978
315 1 1/1/2007
316 1 6/1/1976
317 1 5/1/2011
318 1 3/1/1975
319 1 1/1/1978
320 1 7/1/1975
321 1 11/1/2012
322 1 6/1/1999
323 1 10/1/1991
324 1 3/1/1973
325 1 10/1/1996
326 1 6/1/2007
327 1 10/1/1995
328 1 4/1/1999
329 1 5/1/2001
330 1 3/1/2000
331 1 4/1/1988
332 1 12/1/1993
333 1 6/1/1974
334 1 11/1/1997
335 1 7/1/1986
336 1 2/1/1973
337 1 3/1/1978
338 1 12/1/2007
339 1 4/1/1998
340 1 3/1/2005
341 1 5/1/1980
342 1 11/1/2007
343 1 3/1/1976
344 3 1/6/1998
345 3 1/6/2005
346 3 1/10/1973
347 3 1/9/2005
348 3 1/03/1980
349 3 1/12/2005
350 3 1/5/1987
351 3 1/5/2004
352 3 1/8/1974
353 3 1/3/1986
354 3 1/10/1997
355 3 1/3/1993
356 3 1/3/1981
357 3 1/9/2003
358 3 1/10/1993
359 3 1/1/1983
360 3 1/7/1994
361 3 1/12/2008
362 3 1/10/1980
363 3 1/8/2003
364 3 1/12/1975
365 3 1/11/2010
366 3 1/7/1997
367 3 1/7/2014
368 3 1/9/2001
369 3 1/8/1986
370 3 1/1/1978
371 3 1/9/1975
372 3 1/1/2009
373 3 1/5/1995
374 3 1/8/1989
375 3 1/11/2000
376 3 1/06/1973
377 3 1/2/1999
378 3 1/6/2001
379 3 1/12/1978
380 3 1/8/2009
381 3 1/7/1973
382 3 1/1/2014
383 3 1/09/1975
384 3 1/12/2012
385 3 1/5/1999
386 3 1/7/1989
387 3 1/7/2009
388 3 1/11/1998
389 3 1/3/1995
390 3 1/2/2009
391 3 1/08/1988
392 3 1/4/2007
393 3 1/5/2000
394 3 1/4/2012
395 3 1/10/2001
396 3 1/2/1977
397 3 1/8/2008
398 3 1/2/1983
399 3 1/5/1979
400 3 1/1/1992
401 3 1/11/2008
402 3 1/12/2014
403 3 1/4/1974
404 3 1/10/1981
405 3 1/10/1986
406 3 1/03/1973
407 3 1/12/1994
408 3 1/8/1999
409 3 1/10/2010
410 3 1/10/1994
411 3 1/01/2007
412 3 1/8/2010
413 3 1/03/1990
414 3 1/11/2016
415 3 1/4/2004
416 3 1/2/1973
417 3 1/7/1987
418 3 1/8/2000
419 3 1/8/1975
420 3 1/5/1977
421 3 1/3/2000
422 3 1/9/1984
423 3 1/4/1973
424 3 1/12/1986
425 3 1/4/1979
426 3 1/7/2004
427 3 1/11/1984
428 3 1/5/2016
429 3 1/12/2007
430 3 1/11/1982
431 3 1/06/1981
432 3 1/4/2013
433 3 1/4/1999
434 3 1/5/2006
435 3 1/10/1978
436 3 1/12/1989
437 3 1/2/1974
438 3 1/11/1986
439 3 1/4/1983
440 3 1/10/2014
441 3 1/6/1989
442 3 1/9/1980
443 3 1/9/1992
444 3 1/9/2000
445 3 1/7/1981
446 3 1/1/2008
447 3 1/4/2002
448 3 1/7/1985
449 3 1/5/2010
450 3 1/8/2002
451 3 1/1/1994
452 3 1/12/2004
453 3 1/3/2003
454 3 1/7/1991
455 3 1/7/1982
456 4 1/1/1984
457 4 1/1/2000
458 4 1/1/2001
459 4 1/1/1982
460 4 1/1/1998
461 4 1/1/2012
462 4 1/1/1991
463 4 1/1/1988
464 4 1/1/2014
465 4 1/1/2016
466 4 1/1/1976
467 4 1/1/1981
468 4 1/1/2011
469 4 1/1/1997
470 4 1/1/2003
471 4 1/1/1983
472 4 1/1/1999
473 4 1/1/2010
474 4 1/1/1975
475 4 1/1/1972
476 4 1/1/2015
477 4 1/1/1989
478 4 1/1/1994
479 4 1/1/1993
480 4 1/1/1996
481 4 1/1/2013
482 4 1/1/1974
483 4 1/1/1990
484 4 1/1/1995
485 4 1/1/2004
486 4 1/1/1987
487 4 1/1/1973
488 4 1/1/1992
489 4 1/1/1977
490 4 1/1/1985
491 4 1/1/2007
492 4 1/1/2009
493 4 1/1/1986
494 4 1/1/1978
495 4 1/1/2002
496 4 1/1/1979
497 4 1/1/2006
498 4 1/1/2008
499 4 1/1/2005
500 4 1/1/1980